<h3>{{ _('Auto Collapse') }}</h3>
<div>
    <form class="form-horizontal">
        <div class="control-group">
            <label class="control-label">{{ _('Auto collapse timeout (initial)') }}</label>
            <div class="controls">
                <div class="input-append">
                    <input type="number" min="0" class="input-mini" data-bind="value: settings.plugins.autocollapse.initialTimeout">
                    <span class="add-on">Sec</span>
                </div>
                <span class="help-block">{{ _('Timeout before the files accordion auto collapses after initial UI load or refresh. Set to 0 to disable.') }}</span>
            </div>
        </div>
    </form>
</div>
